<html>

<head>
    <link rel="icon" type="image/x-icon" href="/static/images/chatlingo.png">
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    {{{body}}}
</body>

</html>