<body>
    <h1>Liked chats</h1>
    <section class="listLiked">
    </section>

    <section class="list">
        {{#each games}}
        <form id="gameForm" action="/like" method="POST" onclick="submitForm()">
            <input type="checkbox" id="{{this.id}}" class="heart-checkbox" name="game" value="{{this.name}}">
            <label for="{{this.id}}" class="heart-label">{{this.name}}</label>
        </form>
        {{/each}}
    </section>
</body>