<html class="inlog">

<body class="{{#if bodyClass}}{{bodyClass}}{{/if}}">
    <h1>Login Page</h1>
    {{#if error}}
    <section class="error-message">
        <p>{{error}}</p>
    </section>
    {{/if}}
    <form id="login-form" method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <input type="submit" value="Login" />
    </form>

    <a href="/signup">I don't have an account</a>
</body>

</html>

