{{> header }}

<body>
    <h2>Match</h2>
    <section>
        <form id="userLike" method="POST" action="/match">
            <h3>Minecraft</h3>
            <div class="userimg"></div>
            <p>MC</p>
            <button type="button" class="DisLikeButton" name = "dislike" value="false">
                <div class="heartbrokeBtn"></div>
            </button>
            <button type="submit" class="LikeButton" name="like" value="true">
                <div class="heartBtn"></div>
            </button>
            </form>
        </section>
</body>
<script src="../js/game.min.js"></script>
