{{> header }}

<body>
    <h2>Match</h2>
    <section>
        <form id="userLike" method="POST" action="/match">
            <h3>Valorant</h3>
            {{!-- <img src="img/Sang.cv.jpg" alt="Karen"> --}}
            {{!-- {{#each likedUsers}}
                <h3>{{this.name}}</h3>
                {{/each}} --}}
                <div class="userimg"></div>
                <p>Valorant</p>
                <button type="button" class="DisLikeButton" name = "dislike" value="false">
                    <div class="heartbrokeBtn"></div>
                </button>
                <button type="submit" class="LikeButton" name="like" value="true">
                    <div class="heartBtn"></div>
                </button>
            </form>
        </section>

    </body>
    <script src="/js/game.js"></script>
</html>