<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body class="{{ bodyClass }}">
    <h1>Sign Up</h1>
{{#if error}}
<p class="error">{{error}}</p>
{{/if}}
<form method="post" action="/signup">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <br>
<input type="submit" value="Signup" onclick="onClick(event)">
</form>

<script>
  function onClick(e) {
    e.preventDefault();
    grecaptcha.enterprise.ready(async () => {
      const token = await grecaptcha.enterprise.execute('6LcnlJQmAAAAAKACWCv7uH09gDWbBsTbgjaKs9uz', { action: 'LOGIN' });
      // IMPORTANT: The 'token' that results from execute is an encrypted response sent by
      // reCAPTCHA Enterprise to the end user's browser.
      // This token must be validated by creating an assessment.
      // See https://cloud.google.com/recaptcha-enterprise/docs/create-assessment
    });
  }
</script>
<script src="https://www.google.com/recaptcha/enterprise.js?render=6LcnlJQmAAAAAKACWCv7uH09gDWbBsTbgjaKs9uz"></script>

</body>
</html>



