/* GENERAL */
html {
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff7df;
}

header {
  background-color: #140702;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17em;
  padding: 0em 2.5em;
}

h2 {
  font-family: Arial Black;
  font-size: 2.5em;
  color: #fff7df;
  margin-bottom: -1em;
}

a {
  text-decoration: none;
}

/* HOMEPAGE */

.header-right img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: -4em;
}

.chat-container {
  padding: 20px;
}

.chats {
  background-color: #fff7df;
  border-radius: 50px 50px 0 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(-3em);
}

.round-top {
  background-color: #fff7df;
  border-radius: 50px 50px 0 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(-2em);
  height: 2em;
}

#chatone {
  margin-top: 7em;
}

.chat {
  display: flex;
}

.chat-left {
  padding: 10px;
  max-height: 3em;
  position: relative;
}

.chat-name {
  color: #140702;
}

.profile-picture-container {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #74a847;
  position: absolute;
  top: 7px;
  left: 8px;
  z-index: 2;
  outline: 2px solid #fff7df;
  opacity: 0.8;
}

.chat-right {
  flex: 1;
  padding: 10px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-name {
  font-weight: bold;
}

.new-message-indicator {
  background-color: #a86246;
  color: white;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 15px;
}

.chat-last-message {
  color: #a86246;
}


/* INCHAT AKA CHAT.HANDLEBARS */

.inchat {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #140702;
  position: relative;
  z-index: 10;
}

.inchat header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff7df;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
  height: 8em;
  border-radius: 0 0 50px 50px;
}


.inchat .profile {
  display: flex;
  align-items: center;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.inchat .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inchat .profile p {
  margin-left: 10px;
  color: red;
}

.inchat .status {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.inchat .profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("profile-pic.png");
  background-size: cover;
  margin-right: 10px;
}

.inchat .profile-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.chat-box {
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  top: 2em;
  padding-bottom: 8em;
  margin-top: 8em;
  z-index: -10;
  scroll-behavior: smooth;
}

.username {
  font-size: 0.9em;
  color: #fff7df;
  align-self: start;
  font-weight: bolder;
}

.username-me {
  font-size: 0.9em;
  color: #fff7df;
  align-self: flex-end;
  font-weight: bolder;
}

.chat-bubble {
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  top: 80px;
  max-width: 70%;
}

.inchat .left-bubble {
  align-self: flex-start;
  background-color: #fff7df;
}

.inchat .right-bubble {
  align-self: flex-end;
  background-color: rgb(168, 98, 70);
  color: #fff7df;
}

.inchat .input-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ccc;
  width: 100%;
  height: 5em;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: #fff7df;
  box-sizing: border-box;
}

.inchat form {
  display: flex;
  width: 100%;
}


.inchat .input-field {
  flex: 3;
  margin: 0 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  font-size: 16px;
  outline: none;
}



.inchat .send-button {
  background-color: #140702;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-end;
}



.inchat .profile-status-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inchat .profile-status-container p {
  color: #140702;
  font-size: 1em;
}

.inchat .profile-picture-container {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.inchat .profile-picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inchat .status-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #74a847;
  position: relative;
  z-index: 2;
  outline: 3px solid #fff7df;
  opacity: 0.8;
}

.inchat .back {
  position: absolute;
  left: 20px;
  cursor: pointer;
  color: #a86246;
}

/* GIF STYLING */

.gif-bubble {
  display: inline-block;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.gif-bubble img {
  max-width: 100%;
  height: auto;
}


.sent-gif {
  cursor: default;
}

.gif-menu {
  display: none;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  position: absolute;
  top: 30px;
  left: 0;
  width: 200px;
}

.gifHide {
  display: none;
}

.showInput {
  display: block;
  position: fixed;
  bottom: 5em;
}


.gif-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: auto;
  max-height: 300px;
  position: fixed;
  bottom: 2em;
  max-width: 30em;
}

.gif-container img {
  width: calc(50% - 5px);
  height: auto;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 10px;
}

.gif-container img:nth-child(2n) {
  margin-right: 0;
}

.gif-button {
  background-color: #140702;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-start;
}

#searchInput {
  background-color: #fff7df;
  height: 4em;
  border-radius: 10px;
  border: none;
  width: 54%;
  transform: translate(1em, -2em);
}

.searchGif {
  background-color: #fff7df;
  color: #140702;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transform: translate(1em, -2em);
}

#searchInput.active {
  transform: translate(1em, -19em);
  transition: 0.1s;
}

.searchGif.active {
  transform: translate(1em, -16em);
  transition: 0.1s;
}

/* 404 ERROR PAGE */

.hello {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
  margin: 0;
}

.hello .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-image: url("/static/images/lionel.png");/* https: //open.spotify.com/album/5R8J87WpdqO4t4pB4F4LNJ | Foto van het album + wat PhotoShop werk van mij*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hello h1 {
  font-size: 10em;
  margin-bottom: -10px;
  color: #fff;
  z-index: 1;
}

.hello p {
  font-size: 24px;
  color: #fff;
  font-style: italic;
  font-family: "Tinos", serif;
  z-index: 1;
}

.hello a {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  border: 2px solid white;
  max-width: 10em;
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 18px;
  margin-top: 7em;
  transition: background-color 0.3s, color 0.3s;
  z-index: 1;
  text-decoration: none;
}

.hello a:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  z-index: 1;
}

.hello #click-me {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: 0;
  cursor: pointer;
}

.hello h2 {
  max-width: 4em;
  font-family: "Bebas Neue", sans-serif;
  margin-top: -2em;
  transform: translate(-100%, -30%);
  opacity: 0.5;
  color: #a86246;
  font-size: 4em;
}

/* MEDIA QUERY VOOR 404 */
@media (max-width: 1000px) {
  .hello h1 {
    font-size: 15em;
    margin-bottom: -10px;
    color: #fff;
    z-index: 1;
  }

  .hello p {
    font-size: 40px;
    color: #fff;
    font-style: italic;
    font-family: "Tinos", serif;
    z-index: 1;
  }

  .hello button {
    font-size: 40px;
  }

  .hello a {
    font-size: 30px;
  }
}

/* FALLBACK */

.fallback-message h2 {
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.fallback-message img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-top: 10%;
 z-index: 1;
}

@media (max-width: 500px){
.fallback-message img {
   margin-top: 65%;
}
}

/* INLOG */

.inlog h1 {
  font-size: 45px;
  margin-top: 50px;
}

.inlog body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.inlog form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.inlog .inlog label {
  font-size: 18px;
  margin-bottom: 5px;
}

.inlog input[type="text"],
.inlog input[type="password"] {
  width: 100%;
  height: 40px;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #140702;
}

.inlog input[type="text"]:focus,
.inlog input[type="password"]:focus {
  background-color: #a86246;
  color: #fff7df;
}

.inlog input[type="submit"] {
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: #140702;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all .25s;
}

input[type="submit"]:hover {
  letter-spacing: 15px;
  background-color: #a86246;
}

.error-message {
  animation: pulse 1.5s ease-in-out infinite;
}


/* KEYFRAMES */

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes chatAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.chat-container {
  animation: chatAnimation 1s ease-in-out;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes headerAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  animation: headerAnimation 0.7s ease-in-out;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes bodyAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100%) rotateZ(-180deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) rotateZ(0);
  }
}

.inlogBody {
  animation: bodyAnimation 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  opacity: 0;
}


@keyframes errorBodyAnimation {
  0% {
    transform: translateX(-5px) rotateZ(-5deg);
  }

  25% {
    transform: translateX(5px) rotateZ(5deg);
  }

  50% {
    transform: translateX(-5px) rotateZ(-5deg);
  }

  75% {
    transform: translateX(5px) rotateZ(5deg);
  }

  100% {
    transform: translateX(0) rotateZ(0);
  }
}

.error-body {
  animation: errorBodyAnimation 0.3s ease-in-out 1;
}


@keyframes fallbackMessageAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fallback-message {
  animation: fallbackMessageAnimation 0.5s ease-in-out both;
  opacity: 0;
}

